@-webkit-keyframes like {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes like {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* GLOBAL */
body, header, h1, h2, h3, p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 10px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000000;
  height: auto;
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
}

button {
  border: none;
}

/* HEADER */
#logo {
  text-align: center;
}

#logo > img {
  margin: 20px 0 15px 0;
  width: 200px;
}

/* HEADER */
header > i {
  font-size: 0;
}

/* LOADING SPIN */
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes fadeout {
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeout {
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#load-spin {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  background-color: #FFFFFF;
  border: 2px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#load-spin__background {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  -webkit-animation: fadeout 3s ease-in;
          animation: fadeout 3s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#load-spin:before {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #FF79DA;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#load-spin:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #99E2D0;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

/* EXPLORER */
form {
  padding-top: 25px;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #D1D1D1;
  box-shadow: -1px 2px 5px 0pxs rgba(0, 0, 0, 0.18) inset;
}

form i {
  font-size: 20px;
  color: #7E7E7E;
}

form input {
  width: 150px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #D1D1D1;
}

#explorer__heading {
  padding: 30px 20px 50px 20px;
  background-color: #F6F6F6;
  text-align: center;
}

/* BUTTON */
button {
  margin: 30px 0 0 0;
  padding: 15px 30px;
  border: none;
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  color: #FFFFFF;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  transition: box-shadow 1000ms;
}

button:hover {
  background: linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* FONCTIONNEMENT */
#fonctionnement {
  margin: 40px 15px 50px 15px;
}

#fonctionnement-etapes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.fonct-etape {
  display: flex;
  align-items: center;
  margin: 15px 0 15px 25px;
}

.fonct-etape > p {
  padding: 7px 10px;
  border-radius: 30px;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 12px;
  position: absolute;
  left: 25px;
}

.fonct-etape__heading {
  display: flex;
  padding: 25px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 15px;
}
.fonct-etape__heading:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.fonct-etape__heading:hover i {
  color: #9356DC;
}

.fonct-etape__heading i {
  margin: 0 25px 0 10px;
  font-size: 18px;
  color: #7E7E7E;
}

/* RESTAURANTS */
#restaurants {
  padding: 40px 15px 50px 15px;
  background-color: #F6F6F6;
}

#restaurants-preview {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

#restaurants-preview img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  -o-object-position: 0 60%;
     object-position: 0 60%;
}

.restau-prev {
  margin: 10px;
  border-radius: 15px;
  position: relative;
}

.restau-prev__badge {
  padding: 10px;
  position: absolute;
  left: calc(100% - 94px);
  top: 15px;
  background-color: #99E2D0;
  border-radius: 2px;
  font-weight: 700;
}

.restau-prev__infos {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restau-prev__infos i {
  font-size: 25px;
  padding-right: 10px;
}

.restau-prev__infos .heart {
  padding: 0 30px 30px 0;
}

.heart__1 {
  position: absolute;
  font-size: 25px;
}

.heart__2 {
  position: absolute;
  opacity: 0;
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heart__2 {
  font-size: 25px;
  opacity: 1;
  -webkit-animation: like 3s;
          animation: like 3s;
}

.heart:hover .heart__1 {
  opacity: 0;
}

/* RESPONSIVE TABLETTE */
@media (min-width: 768px) {
  /* HEADER */
  #logo > img {
    margin: 30px;
    width: 200px;
  }
  /* FONCTIONNEMENT */
  #fonctionnement {
    margin: 40px;
  }
  #fonctionnement-etapes {
    flex-direction: row;
  }
  .fonct-etape {
    margin: 5px;
    flex-direction: column;
    width: 30%;
  }
  .fonct-etape > p {
    position: inherit;
    left: 0;
  }
  .fonct-etape__heading {
    width: auto;
    align-items: center;
  }
  .fonct-etape__heading i {
    margin: 0 25px 0 0;
  }
  .fonct-etape--purple i {
    color: #9356DC;
  }
  /* RESTAURANTS */
  #restaurants {
    padding: 40px;
  }
  #restaurants-preview {
    margin: 10px;
    flex-direction: row;
  }
  #restaurants-preview img {
    height: 150px;
  }
  .restau-prev {
    margin: 15px 0;
    width: 45%;
  }
}
/* RESPONSIVE DESKTOP */
@media (min-width: 992px) {
  /* HEADER */
  #logo {
    text-align: start;
  }
  /* RESTAURANTS */
  #restaurants-preview img {
    height: 100px;
  }
  .restau-prev {
    margin: 0;
    width: 22%;
  }
  .restau-prev__infos i {
    padding-right: 0;
  }
}
/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #353535;
}

#footer-logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding-bottom: 8px;
}

footer a {
  margin: 8px 0 8px 0;
  color: #FFFFFF;
}

footer i {
  font-size: 12px;
}

footer .fa-utensils {
  margin: 0 3px 0 2px;
}/*# sourceMappingURL=main-homepage.css.map */