@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/utils/keyframes";
@import "./sass/base/typography";
@import "./sass/base/global";
@import "./sass/layouts/header";

/* HEADER */

header > i{
    display: none;
}

/* LOADING SPIN */

@keyframes spin {
    from {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fadeout {
    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#load-spin {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    background-color: $white;
    border: 2px solid transparent;
    border-top-color: $color-primary;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    &__background {
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 100%;
        background-color: $white;
        animation: fadeout 3s ease-in;
        animation-fill-mode: forwards;
    }

    &:before {
        content: "";
        position: absolute;
        top: 7px;
        right: 7px;
        bottom: 7px;
        left: 7px;
        border: 2px solid transparent;
        border-radius: 50%;
        border-top-color: $color-secondary;
        animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    &:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        border: 2px solid transparent;
        border-radius: 50%;
        border-top-color: $color-tertiary;
        animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
}

/* EXPLORER */

form {
    padding-top: 25px;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #D1D1D1;
    box-shadow: -1px 2px 5px 0pxs rgba(0, 0, 0, 0.18) inset;
}

form i {
    font-size: 20px;
    color: $color-icons;
}

form input {
    width: 150px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: #D1D1D1;
}

#explorer__heading {
    padding: 30px 20px 50px 20px;
    background-color: $light-grey;
    text-align: center;
}

@import "./sass/components/buttons";


/* FONCTIONNEMENT */

#fonctionnement {
    margin: 40px 15px 50px 15px;
}

#fonctionnement-etapes {
    @include flex-box;
}

.fonct-etape {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 25px;
}

.fonct-etape>p {
    padding: 7px 10px;
    border-radius: 30px;
    background-color: $color-primary;
    color: $white;
    font-size: 12px;
    position: absolute;
    left: 25px;
}

.fonct-etape__heading {
    display: flex;
    padding: 25px;
    width: 100%;
    background-color: $light-grey;
    border-radius: 15px;

    &:hover {
        background-color: rgba(147, 86, 220, .1);
    }

    &:hover i {
        color: $color-primary;
    }
}

.fonct-etape__heading i {
    margin: 0 25px 0 10px;
    font-size: 18px;
    color: $color-icons;
}


/* RESTAURANTS */

#restaurants {
    padding: 40px 15px 50px 15px;
    background-color: $light-grey;
}

#restaurants-preview {
    @include flex-box;
}

#restaurants-preview img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    object-position: 0 60%;
}

.restau-prev {
    margin: 10px;
    border-radius: 15px;
    position: relative;
}

.restau-prev__badge {
    padding: 10px;
    position: absolute;
    left: calc(100% - 94px);
    top: 15px;
    background-color: $color-tertiary;
    border-radius: 2px;
    font-weight: 700;
}

.restau-prev__infos {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restau-prev__infos i {
    font-size: 25px;
    padding-right: 10px;
}

.restau-prev__infos .heart {
    padding: 0 30px 30px 0;
}

.heart__1 {
    position: absolute;
    font-size: 25px;
}

.heart__2 {
    position: absolute;
    opacity: 0;
    background: linear-gradient(rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heart:hover .heart__2 {
    font-size: 25px;
    opacity: 1;
    animation: like 3s;
}

.heart:hover .heart__1 {
    opacity: 0;
}

/* RESPONSIVE TABLETTE */

@media (min-width: 768px) {

    /* HEADER */

    #logo>img {
        margin: 30px;
        width: 200px;
    }


    /* FONCTIONNEMENT */

    #fonctionnement {
        margin: 40px;
    }

    #fonctionnement-etapes {
        flex-direction: row;
    }

    .fonct-etape {
        margin: 5px;
        flex-direction: column;
        width: 30%;
    }

    .fonct-etape>p {
        position: inherit;
        left: 0;
    }

    .fonct-etape__heading {
        width: auto;
        align-items: center;
    }

    .fonct-etape__heading i {
        margin: 0 25px 0 0;
    }

    .fonct-etape--purple i {
        color: #9356DC;
    }

    /* RESTAURANTS */

    #restaurants {
        padding: 40px;
    }

    #restaurants-preview {
        margin: 10px;
        flex-direction: row;
    }

    #restaurants-preview img {
        height: 150px;
    }

    .restau-prev {
        margin: 15px 0;
        width: 45%;
    }
}

/* RESPONSIVE DESKTOP */

@media (min-width: 992px) {

    /* HEADER */

    #logo {
        text-align: start;
    }


    /* RESTAURANTS */

    #restaurants-preview img {
        height: 100px;
    }

    .restau-prev {
        margin: 0;
        width: 22%;
    }

    .restau-prev__infos i {
        padding-right: 0;
    }
}

@import "./sass/layouts/footer";