/* HEADER */

#logo > img {
    margin: 30px;
    width: 200px;
}


/* FONCTIONNEMENT */

#fonctionnement {
    margin: 40px;
}

#fonctionnement-etapes {
    flex-direction: row;
}

.fonct-etape {
    margin: 5px;
    flex-direction: column;
    width: 30%;
}

.fonct-etape > p {
    position: inherit;
    left: 0;
}

.fonct-etape__heading {
    width: auto;
    align-items: center;
}

.fonct-etape__heading i {
    margin: 0 25px 0 0;
}

.fonct-etape--purple i {
    color: #9356DC;
}


/* RESTAURANTS */

#restaurants {
    padding: 40px;
}

#restaurants-preview {
    margin: 10px;
    flex-direction: row;
}

#restaurants-preview img {
    height: 150px;
}

.restau-prev {
    margin: 15px 0;
    width: 45%;
}

.restau-prev__badge {
    top: -130px;
}