@import "../sass/utils/variables";
@import "../sass/utils/mixins";
@import "../sass/utils/keyframes";
@import "../sass/base/typography";
@import "../sass/base/global";
@import "../sass/layouts/header";

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header i {
  position: absolute;
  left: 20px;
  top: 28px;
  font-size: 20px;
}

main {
  background-color: $light-grey;
}

/* RESTAURANT-MENU */

h1 {
  margin: 10px 0 0 0;
  font-family: $font-title;
  font-weight: 500;
  font-size: 25px;
}

h2 {
  margin: 40px 0 15px 0;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: solid 3px $color-tertiary;
  width: 45px;
}

#restaurant-prev > img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  object-position: 0 45%;
}

#restaurant-menus {
  position: relative;
  top: -25px;
  padding: 15px;
  border-radius: 25px 25px 0 0;
  background-color: $light-grey;
}

#restau-menus__heading {
  @include flex-box;
}

.heart__1 {
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 25px;
}

.heart__2 {
  position: absolute;
  right: 20px;
  top: 30px;
  opacity: 0;
  background: linear-gradient(rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heart__2 {
  font-size: 25px;
  opacity: 1;
  animation: like 3s;
}

.heart:hover .heart__1 {
  opacity: 0;
}

@keyframes fadein{
  0%{
      transform: translateY(5px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}

.menus {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 70px;
  border-radius: 15px;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  animation: fadein 3s ease-in;
  animation-fill-mode: backwards;
  &__selected {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 0;
    background-color: $color-tertiary;
    font-size: 25px;
    color: $white;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    transition-duration: 0.6s;
  }

  &:hover &__selected {
    width: 60px;
  }

  &__selected i{
    transform: rotate(360deg);
    transition-duration: 0.5s;
  }

  &:hover &__selected i{
    transform: rotate(0);
  }
}

/* DELAY ANIMATION FADEIN */

.delay-1{
  animation-delay: 0;
}

.delay-2{
  animation-delay: 0.2s;
}

.delay-3{
  animation-delay: 0.4s;
}

.delay-4{
  animation-delay: 0.6s;
}

.delay-5{
  animation-delay: 0.8s;
}

.delay-6{
  animation-delay: 1s;
}

.delay-7{
  animation-delay: 1.2s;
}

.delay-8{
  animation-delay: 1.4s;
}

.delay-9{
  animation-delay: 1.6s;
}

.delay-10{
  animation-delay: 1.8s;
}

/* FIN DELAY ANIMATION FADEIN */

.menus__infos {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  & p, & h3{
    width: calc(100% - 47px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.menus__more-infos {
  display: flex;
  justify-content: space-between;
}

.menus__price {
  padding: 0 10px;
  font-weight: 700;
}

@import "../sass/components/buttons";

button{
  display: block;
  margin: auto;
}

/* RESPONSIVE TABLETTE */

@media (min-width: 768px) {
  .menus__flexbox{
    display: flex;
    justify-content: space-between;
  }

  .menus{
    width: 32%;
    flex-direction: row;
  }
}


@import "../sass/layouts/footer";