@import "../sass/utils/variables";
@import "../sass/utils/mixins";
@import "../sass/base/typography";
@import "../sass/base/global";
@import "../sass/layouts/header";

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header i {
  position: absolute;
  left: 20px;
  font-size: 20px;
}

/* RESTAURANT-MENU */

h1 {
  margin: 10px 0 0 0;
  font-family: $font-title;
  font-weight: 500;
  font-size: 25px;
}

h2 {
  margin: 40px 0 15px 0;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: solid 3px $color-tertiary;
  width: 45px;
}

#restaurant-menus {
  position: relative;
  top: -25px;
  padding: 15px;
  border-radius: 25px 25px 0 0;
  background-color: $light-grey;
}

#restaurant-prev>img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#restau-menus__heading {
  @include flex-box;
}

@import "../sass/utils/keyframes";

.heart__1 {
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 25px;
}

.heart__2 {
  position: absolute;
  right: 20px;
  top: 30px;
  opacity: 0;
  background: linear-gradient(rgba(255, 121, 218, 1), rgba(147, 86, 220, 1));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heart__2 {
  font-size: 25px;
  opacity: 1;
  animation: like 3s;
}

.heart:hover .heart__1 {
  opacity: 0;
}

.menus {
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
}

.menus__more-infos {
  display: flex;
  justify-content: space-between;
}

.menus__price {
  padding-right: 10px;
  font-weight: 700;
}

@import "../sass/components/buttons";

@import "../sass/layouts/footer";