body, header, h1, h2, p{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    margin: 10px;
}

h2{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #000000;
    height: auto;
}


/* HEADER */

#logo > img{
    text-align: center;
    margin: 20px 0 15px 0;
    width: 200px;
}

#logo{
    text-align: center;
}


/* SEARCH BAR */

form i{
    /*padding: 15px 80px;*/
    font-size: 20px;
    color: #858585;
    text-align: center;
}

form input{
    padding: 0;
    width: 100%;
    height: 50px;
    border: none;
    text-align: center;
    background-color: #D1D1D1;
    font-size: 16px;
    font-weight: 700;
}


/* MAIN INFOS */

#main-infos{
    padding: 30px 20px 50px 20px;
    background-color: #F1F1F1;
    text-align: center;
}

button{
    margin: 30px 0 0 0;
    padding: 15px 30px;
    border: none;
    background: linear-gradient(#FF79DA, #9356DC);
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
}


/* STEPS */

#stage{
    margin: 40px 15px 50px 15px;
}

#all-steps{
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.steps{
    display: flex;
    align-items: center;
    margin: 15px 0 15px 20px;
}

.steps > p{
    padding: 7px 10px;
    border-radius: 30px;
    background-color: #9356DC;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    left: 25px;
}

.steps-infos{
    display: flex;
    padding: 25px;
    width: 100%;
    background-color: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.purple{
    background-color: rgba(147, 86, 220, .1);
}

.steps-infos i{
    margin: 0 25px 0 10px;
    font-size: 18px;
    color: #5A5A5A;
}

.purple i{
    color: #9356DC;
}


/* RESTAURANT CARDS */

#restaurants{
    padding: 40px 15px 15px 15px;
    background-color: #F1F1F1;
}

#all-cards{
    margin: 10px 0 35px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-restaurant{
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#all-cards img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-infos{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-infos i{
    font-size: 25px;
    padding-right: 10px;
}


/* FOOTER */

footer{
    padding: 25px;
    background-color: #5A5A5A;
}

footer > img{
    width: 100px;
    margin-bottom: 10px;
}

footer p{
    margin: 8px 0 8px 0;
    color: #FFFFFF;
}

footer i{
    font-size: 12px;
}

footer .fa-utensils{
    margin: 0 3px 0 2px;
}