@import "../utils/variables";
@import "../base/typography";

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: $dark-grey;
  }
  
  #footer-logo {
    font-family: $font-title;
    font-size: 18px;
    padding-bottom: 8px;
  }
  
  footer a {
    margin: 8px 0 8px 0;
    color: $white;
  }
  
  footer i {
    font-size: 12px;
  }
  
  footer .fa-utensils {
    margin: 0 3px 0 2px;
  }